<!-- Stylesheet Imports -->
<link rel="stylesheet" href="public/styles/main.css" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" type="text/css">

<!-- Font Imports -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700,600" rel="stylesheet" type="text/css">

<!-- Script Imports -->
<script src="public/scripts/bundles/vendor.bundle.js"></script>


<div class="chatContainer">
    <h4>
        Chat
    </h4>

    <div class="chatBox" id="chat-text">
    </div>

    <form id="chat-form">
        <input id="chat-input" type="text" style="width:75%;height:30px;" autocomplete="off">
        <input class="btn" type="submit" value="Send"></input>
    </form>
</div>

<div class="gameContainer">
    <canvas width="800" height="608" class="mapContainer" id="mapContainer"></canvas>
    <canvas width="800" height="608" class="playerContainer" id="playerContainer"></canvas>
    <canvas width="800" height="608" class="uiContainer" id="uiContainer"></canvas>
</div>

<script src="public/scripts/bundles/main.bundle.js"></script>