html
    head
        title mathewjames.dev HTML5 Game
        link(rel="stylesheet",href="public/styles/main.css")
        link(rel="stylesheet",href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Open+Sans:700,600")
        
        block styles
        
        script(src="public/scripts/bundles/vendor.bundle.js")

    block content
    
    block scripts