body {
    background: #EAEAEA;
}

.gameContainer {
    background: white;
    border-radius: 6px;
    float: right;
    margin: 5% 3% 1% 1%;
    box-shadow: 5px 5px 10px #888888;
    position: relative;
    width: 800px;
    height: 608px;
}

.mapContainer {
    position: absolute;
    width: 800px;
    height: 608px;
}

.playerContainer {
    position: absolute;
    width: 800px;
    height: 608px;
}

.uiContainer {
    position: absolute;
    width: 800px;
    height: 608px;
}


.chatContainer {
    background: white;
    width: 25%;
    height: 80%;
    float: left;
    border-radius: 6px;
    margin: 5% 1% 1% 3%;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
}

.chatBox {
    background: #EAEAEA;
    border-radius: 5px;
    width: 90%;
    height: 60%;
    margin: 5% auto 5% auto;
    border: 1px solid;
    border-color: #888888;
    overflow-y: scroll;
}

.chatCell {
    background: white;
    width: 100%;
    height: 15%;
    margin: auto auto 1px auto;
}

.btn {
    background: green;
    height: 30px;
    color: white;
    border-radius: 4px;
}

.btn:hover {
    background: #2CC06B;
}